header {
    background-color: rgb(0, 0, 0);
  }
  
  .main-nav {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .main-nav .nav-link {
    /* display: block; */
    padding: 20px 25px;
    color: white;
    text-decoration: none;
  }

  .nav-link:hover {
    background-color: rgb(184, 179, 179) ;
    color: black;
}

