
.btn {
  background-color: #333;
  color: snow;
  border: none;
  padding: 0.5em 1em;
}
/* taip neikelinejam butinai reikalinga klase */
/* button {
  font-size: 50px;
} */

.total {
  font-size: large;
}