


body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}